<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<style>
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    
    .header{
        width: 100%;
	top:0;
        position: flex;
        background: #333;
        padding: 10px 0;
        color: #fff;
    }
    .container{
            width: 80%;
    }
    nav a {
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }
</style>

<body>
    <div class="header">
        <div class>
            <nav>
                <a href="/"><span style="font-size: 40px;">LMS Actvities Dashboard</span></a>

            </nav>
        </div>
    </div>
    <div style="float: left;">
        <canvas id="myChart" style="height: 310px; width: 610px;"></canvas>
    </div>
</body>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: {{ lmsNames|safe }},
            datasets: [{
                label: 'Completed LMS Activties',
                backgroundColor: 'blue',
                borderColor: 'rgb(255, 99, 132)',
                data: {{ barplotValues|safe }},
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>

</html>